{% load static %}
<!-- Header -->
<header class="main-header">
    <div class="container nav-container">
        <a href="{% url 'core:index' %}" class="logo">Clinica HerKar</a>
        <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
            <i class="fas fa-bars"></i>
        </button>
        <nav>
            <ul class="nav-menu">
                <li><a href="{% url 'core:index' %}" class="nav-link">Inicio</a></li>
                <li><a href="{% url 'core:nosotros' %}" class="nav-link">Nosotros</a></li>
                <li><a href="{% url 'core:instalaciones' %}" class="nav-link">Instalaciones</a></li>
                <li><a href="{% url 'core:especialidades' %}" class="nav-link">Especialidades</a></li>
                <li><a href="{% url 'core:contacto' %}" class="nav-link">Contacto</a></li>

                {% if user.is_authenticated %}
                <li><a href="{% url 'users:dashboard' %}" class="nav-link">Mi Panel</a></li>
                <li><a href="{% url 'users:logout' %}" class="nav-link">Salir</a></li>
                {% else %}
                <li><a href="{% url 'users:login' %}" class="nav-link">Iniciar Sesion</a></li>
                <li><a href="{% url 'users:registro' %}" class="btn"
                        style="padding: 0.5rem 1rem; font-size: 0.9rem;">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>